---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
entries_layout: grid
---

{% include base_path %}

Under construction :)  

[<i class="fa-solid fa-file-pdf"></i>&ensp;Download CV<br><p style="font-size:11px; "> (updated Nov 2024) </p>](https://theoschutt.github.io/files/CV_public_20241127.pdf){: .btn--general}
&emsp;&emsp;&emsp;
[Publications on ADS&ensp;<i class="fa-solid fa-arrow-up-right-from-square"></i>](https://ui.adsabs.harvard.edu/search/p_=0&q=orcid%3A0000-0002-7187-9628&sort=date%20desc%2C%20bibcode%20desc){: .btn--general}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
